*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
   /* overflow: hidden;*/
}
header{

}
header .logo{
    display: block;
    height: 150px;
}
nav{
    background-color: #314086;
    overflow: hidden;
}
nav a{
    color: #88c6e6;
    padding: 20px 15px;
    display: inline-block;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
}
nav a.last{
    background-color:#f18619;
    float: right;
    display: block;
}
nav a:hover{
    color: #ad642e;
}
.last:hover{
    color: #584137;
}
.container{
    width: 80%;
}
#banner{
    background-color: #88c6e6;
    padding: 30px 0;
}
#banner .container{
    display: flex;
}
#banner img{
    height: 400px;
    width: 100%;
}
.info{
    padding: 40px;
}
.info h1{
    color: #584137;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.info h1 span{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: ;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 20px 0;
    color: #2c2c61;
}
.info a{
    display: inline-block;
    text-decoration: none;
    color: red;
    background-color: #868fa6;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.info a:hover{
    color: #584137;
    background-color: #dee2e4;
}
#feature{
    margin: 30px 0;
}
#feature .container{
    display: flex;
}
#feature .box{
    width: 24%;
    position: relative;
}
.box img{
    width: 100%;
    height: 280px;
    display: block;
}
.box .info1{
    background-color:rgb(62, 7, 7);
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.info1 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    padding: 0 10px;

} 
.info1 a{
    color: #f79267;
    text-decoration: none;
}
.info1 a:hover{
    color: rgb(106, 50, 10);
}
.newsletter{
    background-color: #eab676;
    margin-bottom: 30px;
}
.newsletter form{
    display: block;
    text-align: center;
    padding: 30px 0;
}
.newsletter h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}
.newsletter input{
    padding: 15px;
    width: 400px;

}
.newsletter input[type=submit]{
width: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
border: none;
cursor: pointer;
background-color: #854b32;
color: #868fa6;
}
.icons {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
.icons  a{
 color: white;
 text-decoration: none;
 padding: 5px;
 font-size: 30px;
}